* {
  padding: 0;
  margin: 0;
}

div#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  gap: 40px;
  height: 100vh;
  background-color: antiquewhite;
}