.in-wrapper {
    display: flex;
    align-items: center;
    gap: 30px;
    
    margin: 40px;

}

.image {
    height: 230px;
    width: 180px;
    border-radius: 10px;
    object-fit: cover;
}

.infos h1 {
    margin-top: 8px;
}

.infos p {
    /* font-size: 0.9rem; */
    font-weight: 250;
}

.marker {
    height:14px;
}

.maps-link {
    margin-left: 10px;
    color: grey;
}

.date {
    display: block;
    margin-bottom: 6px;
}

hr {
    width: 92%;
    opacity: 10%;
}