* {
    padding: 0;
    margin: 0;
    font-family: Inter;
}

div#header {
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    background-color: rgb(255, 79, 63);
    height: 55px;
}

div#header > img {
    height: 28px;
    margin: 8px;
}

div#header > p {
    font-size: 0.9rem;
    font-weight: 600;
}