* {
  padding: 0;
  margin: 0;
}

hr {
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#number { 
  text-align: center;
  height: 100px;
  width: 100px;
  border: 3px solid black;
  border-radius: 50%;
}

#number > h1 {
  margin: 32px;
}

.Button {
  border-radius: 8px;
  margin: 20px;
  padding: 10px;
  width: auto;
  font-size: 20px;
}