header {
  display: flex;
  flex-direction: column;
  gap: 20px;

  font-size: 1.3rem;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
}

main div#numbers {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 4.5rem;
  padding: 20px;
}

.number-div {
  text-align: center;
  background: #3779bb;
  color: white;
  padding: 18px 20px;
  border-radius: 14px;
  
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);

  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.number-div:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.43);
}

#button {
  margin-top: 30px;

  align-self: center;
  padding: 20px 28px;

  background-color: rgb(27, 65, 101);

  color: white;
  font-size: 1.3rem;
  font-weight: 600;
  border: none;
  border-radius: 12px;

  cursor: pointer;
  transition: background 0.25s ease, transform 0.2s ease, box-shadow 0.25s ease;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

#button:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.43);
}

#button:active {
  transform: translateY(0px);
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}