* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  height: 100vh;
  background-color: rgb(164, 204, 255);
}


div#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(74, 142, 205);
  gap: 30px;
  
  align-self: center;
  margin: auto;

  padding: 40px;
  border-radius: 20px;
  width: 70%;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.453);

}